@{
    ViewBag.Title = "legacy page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <p class="lead">legacy page.</p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Important info</h2>
            <p>
                ASP.NET MVC is a legacy crap pattern.
            </p>
        </section>
    </div>
</main>